.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    background: greenyellow;
    padding: 0% 1%;
}

.card {
    width: 95%;
    margin: 3% 2%;
    background-color: #333;

    &__title {
        display: flex;
        justify-content: center;
        height: 60px;
        margin: 0px 10px 4px 10px;
        border-bottom: black;
        border-width: 0px 0px 2px 0px;
        border-style: solid;

        &--title-link {
            text-align: center;
            align-self: center;
            font-weight: bold;
            font-size: 24px;
            color: #abc4ed;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.start-info-container{
    display: flex;
    justify-content: center;
    color: gray;

    &--start{
        border-bottom: black;
        border-width: 0px 1.5px 0px 0px;
        border-style: solid;
        padding-right: 5px;
    }
    &--episode{
        padding-left: 5px;
    }
    &--duration{
        padding-left: 5px;
    }
}

.genre-container{
    display: flex;
    justify-content: center;
    color: gray;

    &--genre{
        background-color: lightgray;
        font-size: small;
        border-radius: 5px;
        padding: 0px 2px;
        margin: 5px 5px 0px 5px;
    }
}

.content-container {
    display: flex;
    padding: 2% 3% ;
    height: auto;

    &__image {
        width: 50%;
        background: #2b2a2a;
        overflow: hidden;

        img {
            width: 100%;
            height: 300px;
            object-fit:fill;
            
        }
    }

    &__description {
        background: #2b2a2a;
        width: 50%;
        height: 240px;
        color: white;
        overflow: hidden;

        &:hover {
            overflow: auto;
            
        }

        &--title {
            font-weight: bold;
            font-size: larger;
            padding-bottom: 10px;
            padding-left: 3%;
        }

        &--preline {
            padding-left: 5%;
            height: 180px;
        }

    }
}

.info-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1% 0% 3% 0%;

    &--score {
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: large;
    }

    &--status {
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: large;
    }

    &--add {
        background: rgb(0, 119, 255);
        border: none;
        border-radius: 20px;
        width: 40%;
        text-align: center;
        justify-self: end;
        margin-right: 15%;

        &:hover {
            background: rgb(0, 80, 170);
            cursor: pointer;
        }
    }
}