<div class="container">
    <div class="card">
        <div class="title">
            <a href="" class="title-link">Solo Leveling</a>
        </div>
        <div class="content-container">
        <div class="image">
            <img src="https://cdn.myanimelist.net/images/anime/1448/147351.webp" alt="">
        </div>
            <div class="description">
                <div class="description--title">Synopsis</div>
                <div class="description--preline">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta et tempore possimus cumque ab harum, necessitatibus quos iusto! Aliquam iusto corporis doloribus nisi nam rem.</div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="title">
            <a href="" class="title-link">Solo Leveling</a>
        </div>
        <div class="content-container">
        <div class="image">
            <img src="https://cdn.myanimelist.net/images/anime/1448/147351.webp" alt="">
        </div>
            <div class="description">
                <div class="description--title">Synopsis</div>
                <div class="description--preline">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta et tempore possimus cumque ab harum, necessitatibus quos iusto! Aliquam iusto corporis doloribus nisi nam rem.</div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="title">
            <a href="" class="title-link">Solo Leveling</a>
        </div>
        <div class="content-container">
        <div class="image">
            <img src="https://cdn.myanimelist.net/images/anime/1448/147351.webp" alt="">
        </div>
            <div class="description">
                <div class="description--title">Synopsis</div>
                <div class="description--preline">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta et tempore possimus cumque ab harum, necessitatibus quos iusto! Aliquam iusto corporis doloribus nisi nam rem.</div>
            </div>
        </div>
    </div>
</div>