<div class="container">
    @for (data of manga(); track data.id ){
    <div class="card">
        <div class="card__title">
            <a [routerLink]="['/manga', data.id]" class="card__title--title-link">{{data.title}}</a>
        </div>
        <div class="start-info-container">
            <div class="start-info-container--start">{{shortDate(data.startDate)}}</div>
            <div class="start-info-container--episode">{{data.volume}} eps,</div>
            <div class="start-info-container--duration">{{data.chapter}} min</div>
        </div>
        <div class="genre-container">
            @for (genre of data.genre; track $index) {
                <div class="genre-container--genre">{{getGenreStringFromEnum(genre)}}</div>
            }
        </div>
        <div class="content-container">
            <a [routerLink]="['/manga', data.id]" class="content-container__image">
                <img src={{data.imgUrl}} alt={{data.title}}>
            </a>
            <div class="content-container__description">
                <div class="content-container__description--title">Synopsis</div>
                <div class="content-container__description--preline">{{data.description}}</div>
                <!-- <button class="content-container__description--more" [ngClass]="{'expanded': data.showMore}">{{data.showMore ? '--Less--' : '--More--'}}</button> -->
            </div>
        </div>
        <div class="info-container">
            <div class="info-container--score">&#9734;&nbsp;{{data.score}}</div>
            <div class="info-container--status">Status: {{getStatusStringFromEnum(data.status)}}</div>
            <button class="info-container--add" (click)="showAnimeStatus()">Add</button>
        </div>
    </div>
    }

</div>
