.container {
    background-color: #333;

}

.title {
    color: white;
    font-weight: bold;
    font-size: 36px;
    padding: 10px 0px 10px 20px;
    margin: 0px 20px 4px 20px;
    border-bottom: black;
    border-width: 0px 0px 2px 0px;
    border-style: solid;

}

.content {
    display: flex;
    height: auto;
}

.left-side {
    width: 400px;
    height: auto;
    background: greenyellow;

    &__image {
        display: flex;
        justify-content: center;
        width: 350px;
        padding-top: 2%;

        img {
            width: 300px;
            border: black, 5px, solid;
        }
    }

    &__user {
        padding: 5px 0px 15px 0px;
        margin: 10px 10px 5px 10px;
        border-bottom: black;
        border-width: 2px 0px 2px 0px;
        border-style: solid;

        &--title {
            font-weight: bold;
            font-size: larger;
            padding-bottom: 5px;
            border-bottom: black;
            border-width: 0px 0px 2px 0px;
            border-style: solid;
        }

        &--status {
            padding: 5px 0px 0px 15px;
        }

        &--episode {
            padding: 3px 0px 0px 15px;
        }

        &--score {
            padding: 3px 0px 0px 15px;
        }

    }

    &__anime {
        padding: 5px 0px 15px 0px;
        margin: 5px 10px 5px 10px;

        &--title {
            font-weight: bold;
            font-size: larger;
            padding-bottom: 5px;
            border-bottom: black;
            border-width: 0px 0px 2px 0px;
            border-style: solid;
        }

        &--info {
            font-weight: bold;
            font-size: medium;
            padding: 3px 0px 0px 15px;

            span {
                font-weight: 400;
            }
        }
    }
}

.right-side {

    &__description {
        color: white;

        &--title {
            font-weight: bold;
            font-size: larger;
            padding-bottom: 10px;
            padding-left: 3%;
        }

        &--text {
            padding-left: 5%;
        }
    }
}